{% load static %}
<div id="hero-area" class="hero-area-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">Eco Adventure Santa Maria<br>Cursos e Treinamentos</h2>
                <p>Nossos cursos presenciais de Atendimento Pré Hospitalar (APH) e Suporte Básico de Vida (SBV), dá a você o certificado exigido pela SAMU e instituições de saúde. </p>
                <div class="header-button">
                  <a href="https://wa.me/5555999968205" class="btn btn-common">Fale com A gente</i></a>
                  <a href="#" class="btn btn-border video-popup">Learn More</i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <img class="img-fluid" src="{% static 'img/atendimentoaph.PNG' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header Area wrapper End -->